<div class="column is-4 is-hidden-touch">
        <div class="fixed">
          <br/>
          <div class="has-text-centered">
              <div class="media">
              <div class="media-left">
                    <img src="https://avatars.githubusercontent.com/u/46141275" width="100px" style="border-radius: 50%;">
                    </div>
              <div class="media-content has-text-grey-light">
                <div class="is-size-3 has-text-weight-bold" style="font-family: 'Courgette', cursive;">
            <span class="has-text-primary">Linux</span>isekai
                </div>
            Nolep enthusiast project.
          </div>
              </div>
            </div>
            <br/>

            <div class="aside-item">
            <a class="aside-item has-text-grey-light" href="/">
              <span class="icon">
              <i class="fas fa-home has-text-primary"></i>
              </span>
              <span>
              Home
              </span>
            </a>
            </div>

            <div class="aside-item">
              <a class="aside-item has-text-grey-light" href="/tags/linux">
               <span class="icon">
                  <i class="fas fa-terminal has-text-primary"></i>
                </span>
      
                <span>Linux</span>
              </a>
              </div>
             
              <div class="aside-item">
                <a class="aside-item has-text-grey-light" href="/tags/ngopi">
                <span class="icon">
                  <i class="fas fa-coffee has-text-primary"></i>
                </span>
                <span>
                Ngopi
                </span>
                </a>
                </div>

                <div class="aside-item">
              <a class="aside-item has-text-grey-light" href="/friendlist">
                <span class="icon">
                  <i class="fas fa-user-friends has-text-primary"></i>
                </span>
                <span>  Friends</span>
              </a>
              </div>

              <div class="aside-item">
              <a class="aside-item has-text-grey-light" href="/about">
                <span class="icon">
                  <i class="fas fa-user has-text-primary"></i>
                </span>
                <span> Resume</span>
              </a>
              </div>
<br/>
             <br/>
              <div class="has-text-centered is-size-4">
              <a href="#" class="has-text-grey-dark">
                <span class="icon"><i class="fab fa-facebook" style="color: rgb(142, 173, 241)"></i></span>
              
              </a>
             
              <a href="#" class="has-text-grey-dark">
                <span class="icon"><i class="fab fa-telegram" style="color: rgb(141, 210, 219)"></i></span>
              
              </a>
              
              <a href="#" class="has-text-grey-dark">
                <span class="icon"><i class="fab fa-youtube has-text-danger"></i></span>
              </a>
              <a href="#" class="has-text-grey-dark">
                  <span class="icon"><i class="fab fa-github" style="color: cornsilk"></i></span>
                
                </a>
              </div>
              <br/>
          
              <div class="aside-item has-text-centered">
          <a name="dark_light" class="aside-item has-text-light" onclick="toggleDarkLight()" title="Toggel dark/light">
            <span class="icon">
                <i class="fas fa-moon"></i>
              </span>
                        </a>
        </div>
        </div>
        
</div>
        
  
