<aside class="column is-3 is-narrow-mobile is-fullheight section is-hidden-mobile">
        <div class="fixed bg">
          <p class="menu-label is-size-4 is-hidden-mobile has-text-centered" style="font-family: monospace">
            <br>
            
            <b><span class="has-text-primary">Linux</span>isekai</b></p>
          <ul class="menu-list">
            <li class="">
              <a href="/" class="">
                <span class="icon">
                  <i class="fa fa-home"></i>
                </span> Home
              </a>
            </li>
            <li>
              <a class="" href="/tags/linux">
              <span class="icon">
                <i class="fa fa-terminal has-text-info"></i>
              </span> Linux
            </a>
            </li>
            <li>
              <a href="/tags/ngopi" class="">
                <span class="icon">
                  <i class="fa fa-coffee"></i></span> Ngopi
              </a>
              <ul>
                <li>
                  <a href="/tags/golang" class="is-size-7">
                    <span class="icon is-small">
                      <i class="fa fa-code"></i></span> Golang
                      
                  </a>
                </li>
                <li>
                  <a href="/tags/php" class="is-size-7">
                    <span class="icon is-small">
                      <i class="fa fa-code"></i></span>  PHP
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/friendlist" class="">
                <span class="icon">
                  <i class="fa fa-user-friends"></i></span> Friends
              </a>
            </li>
            <li>
                <a href="/about" class="">
                  <span class="icon">
                    <i class="fa fa-user-circle"></i></span> About
                </a>
              </li>
          <li>
  
          
          <center>
          <a type="button" name="dark_light" class="navbar-item is-hidden-mobile" onclick="toggleDarkLight()" title="Toggel dark/light">
            <i class="fas fa-moon">
            </i>
                        </a>
                        </center>
                        </li>
                        </ul>
        </div>
        </aside>
        
  