<aside class="column is-3 is-fullheight section is-hidden-touch">
        <div class="fixed bg">
          <br/>
          <div class="label-fixed is-hidden-mobile has-text-centered">
            <span class="has-text-primary">Linux</span>isekai</div>
            <div class="has-text-centered">Nolep enthusiast project.</div>
            <br>
          <ul class="menu-list">
            
            <li class="">
              <a href="/" class="">
                <span class="icon">
                  <i class="fa fa-home"></i>
                </span> Home
              </a>
            </li>
            <li>
              <a class="" href="/tags/linux">
              <span class="icon">
                <i class="fas fa-terminal"></i>
              </span> Linux
            </a>
            </li>
            <li>
              <a href="/tags/ngopi" class="">
                <span class="icon">
                  <i class="fa fa-coffee"></i></span> Ngopi
              </a>
              <ul>
                <li>
                  <a href="/tags/golang" class="is-size-7">
                    <span class="icon is-small">
                      <i class="fa fa-code"></i></span> Golang
                      
                  </a>
                </li>
                <li>
                  <a href="/tags/php" class="is-size-7">
                    <span class="icon is-small">
                      <i class="fa fa-code"></i></span>  PHP
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/friendlist" class="">
                <span class="icon">
                  <i class="fa fa-user-friends"></i></span> Friends
              </a>
            </li>
            <li>
                <a href="/about" class="">
                  <span class="icon">
                    <i class="fa fa-user-circle"></i></span> Portofolio
                </a>
              </li>
          <li>
  
          
          <center>
          <a type="button" name="dark_light" class="navbar-item is-hidden-mobile" onclick="toggleDarkLight()" title="Toggel dark/light">
            <i class="fas fa-moon">
            </i>
                        </a>
                        </center>
                        </li>
                        </ul>
        </div>
        </aside>
        
  
