
<div class="column">
    <div class="has-text-centered">
  <br/>
  <br/> 
  {{ $currentPage := . }}
  {{range where .Site.Pages.ByDate "Params.recuil" .Params.recuil }}
  {{ if eq .RelPermalink $currentPage.RelPermalink }}
  <span class="{{if not .PrevInSection}} disabled noselect{{ end }}">
  <a href="{{if .PrevInSection}}{{.PrevInSection.RelPermalink}}{{end}}"><i class="fas fa-arrow-left"></i></a>
  </span>
  
  <div class="popup" onclick="functionPopup()">
          <div class="btn-counter multiple-count" title="love" herf="#">
          <span class="is-size-5 has-text-danger has-text-centered"><i class="fas fa-heart has-text-primary"></i></span></a>
          </div>
      <span class="popuptext" id="myPopup">
      Thanks 😇
    </span>
  </div>
  <span class="{{if not .NextInSection}} disabled noselect{{ end }}">
  <a href="{{if .NextInSection}}{{.NextInSection.RelPermalink}}{{end}}"><i class="fas fa-arrow-right"></i></a>
  </span>
  {{end}}
  {{end}}
</div>
</div>
  
  
  
      