<div class="container">
    <div class="masonry-wrapper">
      <div class="masonry">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 9 }}
          {{ range $paginator.Pages }} 
        <div class="masonry-item">
          <div class="masonry-content">
            <img src="{{ with .Params.image }}{{ . }}{{ end }}" alt="{{ .Title }}" sizes="20em">
            <div class="judul-post">
                <a href="{{ .RelPermalink }}">
                    <i class="fas has-text-primary fa-book"></i>             
              {{ .Title }}
              </a>
            <br/>
              <i class="fas fa-calendar has-text-primary f"></i>
              <h7 class="is-size-6">&nbsp;{{ .Date.Format "02-01-2006" }}</h7>
                | <i class="fas fa-tags has-text-primary f"></i>
                  {{ $taxonomy := "tags" }}
                  {{ with .Param $taxonomy }}
                  {{ range $index, $tag := . }}
                  
                  {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
                  <h7 class="is-size-6">{{ $tag | urlize }}</h7>
                  {{- end -}}
                  {{- end -}}
                  {{ end }}
                  </div>
              </div>
            </div>
            {{ end }}
       </div>
      </div>
       </div>