<div class="container">
    
    <div class="masonry-wrapper">
        
      <div class="masonry">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 9 }}
          {{ range $paginator.Pages }} 
        <div class="masonry-item">
          <div class="masonry-content">
            <img src="{{ with .Params.image }}{{ . }}{{ end }}">
            <div class="judul-post">
                <a href="{{ .RelPermalink }}">
                    <i class="fas has-text-primary fa-book"></i>             
              {{ .Title }}
              </a>
            <br/>

              <time class="f"><span class="icon"><i class="fas fa-calendar has-text-primary"></i></span>&nbsp;{{ .Date.Format "02-01-2006" }}
                | <span class="icon is-small"><i class="fas fa-tags has-text-primary"></i></span></time>
                  {{ $taxonomy := "tags" }}
                  {{ with .Param $taxonomy }}
                  {{ range $index, $tag := . }}
                  <time class="f">
                  {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
                  {{ $tag | urlize }}
                  </time>
                
                  {{- end -}}
                  {{- end -}}
                  {{ end }}
                  </div>
              </div>
          
            </div>
            {{ end }}
       </div>
       
      </div>
      
       </div>