<html>
    <head>
        
            <link href="///home/asuna/nolep/themes/isekai/layouts/partials/bs.css" rel="stylesheet">
            <link href="///home/asuna/nolep/themes/isekai/layouts/partials/oke.css" rel="stylesheet">
           
    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <div class="box">

                            <div class="loader-wrapper">
                                <div class="loader is-loading">

                                </div>
                               
                            </div>
<h2 class="title">
                            sudah loading
</h2>
                            <div class="has-text-centered">
                                <a class="button is-big">call loader</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://cssninja.io" class="link-button"></a>
       
        <script src="///home/asuna/nolep/themes/isekai/layouts/partials/core.js"></script>
        <script src="///home/asuna/nolep/themes/isekai/layouts/partials/jquery.slim.min.js"></script>
    </body>
</html>
