<section class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-one-thirds">
                related post
            </div>
            <div class="column">
                <ul>
                    <li class="subtitle">Support kami agar linuxisekai terus berkembang .</li>
                    <li><div class="column">
                        OVO
                    </div>
                <div class="column">
                    Patreon
                </div></li>
                </ul>
                    
                </div>
            </div>
            <div class="column">
                soacial media
            </div>
        </div>
    </div>
</section>

