<div class="container ghost-padding">
    <div class="masonry-wrapper">
    <div class="masonry">
      <div class="masonry-item">
        <div class="masonry-content">
              <img src="/img/nishimiya.webp" alt="About">
              <div class="masonry-title">About</div>
              <div class="masonry-description">
            linuxisekai diambil dari kata linux dan isekai, nama ini saya pilih karena saya 
            suka menonton anime dan tertarik dengan linux.
            <br/>
            <br/>
            <div class="fa-lg">
            <i class="fab fa-facebook"></i>
             <i class="fab fa-github"></i>
            <i class="fas fa-envelope"></i>
            <i class="fab fa-twitter"></i>
            </div>
              </div>
            </div>
            </div>
            <div class="masonry-item">
              <div class="masonry-content">
                  <div class="masonry-title">Disclaimer</div>
                  <div class="masonry-description">
                    Situs ini dibuat sebagai catatan pribadi saya dalam mempelajari sesuatu, 
                    jadi apabila ada tulisan yang kurang jelas,
                    tata bahasa yang amburadul atau bahkan malah menyesatkan saya mohon maaf.
                  </div>
              </div>
            </div>
            </div>
            </div>
            </div>
            
          