<!--<div class="pageloader"></div>
        <div class="infraloader is-active"></div>-->
<nav id="navbar" class="navbar is-fixed-top is-hidden-tablet is-spaced">
        <div class="navbar-brand">
            <a class="is-hidden-desktop navbar-item has-text-grey-light" data-target="navMenu">
                <span onclick="openNav()"><i class="fa fa-bars"></i></span>
               </a>
        <span class="navbar-item navbar-center">
          <a href="/">
            <div class="is-size-4 has-text-weight-bold has-text-grey-light">linuxisekai</div> 
          </a>
          </span>

          <a type="button" name="dark_light" class="navbar-item is-hidden-desktop has-text-hrey-light" onclick="toggleDarkLight()" title="Toggel dark/light">
            <i class="fas fa-moon">
            </i>&nbsp;
          </a>

          </div>
        
        <div id="sideNav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                <i class="fa fa-times"></i>
            </a>
            <div class="navbar-header has-text-centered" style="background-color: #0A1124">
              <div class="media">
              <div class="media-left">
                    <img src="https://avatars.githubusercontent.com/u/46141275" width="100px" style="border-radius: 50%;">
                    </div>
              <div class="media-content">
                <div class="is-size-3 has-text-weight-bold">
            <span class="has-text-primary">Linux</span>isekai
                </div>
            Nolep enthusiast project.
          </div>
              </div>
            </div>
            <br/>
            <a class="navbar-item sidenav-item" href="/">
              <span class="icon">
              <i class="fas fa-home"></i>
              </span>
              <span>
              Home
              </span>
            </a>
            
              <a class="navbar-item" href="/tags/linux">
               <span class="icon">
                  <i class="fas fa-terminal"></i>
                </span>
      
                <span>Linux</span>
              </a>
                <a class="navbar-item" href="/ngoding">
                <span class="icon">
                  <i class="fas fa-coffee"></i>
                </span>
                <span>
                Ngopi
                </span>
                </a>
              <a class="navbar-item" href="/friendlist">
                <span class="icon">
                  <i class="fas fa-user-friends"></i>
                </span>
      
                <span>  Friends</span>
              </a>
              <a class="navbar-item" href="/about">
                <span class="icon fa-php">
                  <i class="fas fa-user"></i>
                </span>
                <span>  Portofolio</span>
              </a>
              <div class="portofolio-heading"></div>
              <a href="#" class="navbar-item"><span class="icon"><i class="fab fa-facebook"></i></span>
                <span>  Facebook</span>
              </a>
              <a href="#" class="navbar-item"><span class="icon"><i class="fab fa-telegram"></i></span>
                <span>  Telegram</span>
              </a>
              <a href="#" class="navbar-item">
                <span class="icon"><i class="fab fa-youtube"></i></span>
                <span>  Youtube</span>
              </a>
              
              </div>
                </div>
                </div>
               
                </nav>
               
          
      