<!--<div class="pageloader"></div>
        <div class="infraloader is-active"></div>-->
<nav id="navbar" class="navbar is-fixed-top">
        <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/" >
            <span class="icon is-medium"><i class="fas fa-terminal is-size-5"></i></span>
            <div class="is-size-4 has-text-weight-bold title">linuxisekai</div>
            
          </a>
          
          <a class="navbar-item is-hidden-desktop" href="https://github.com/linuxisekai" rel="noopener" target="_blank">
            <span class="icon is-size-5" style="color: rgb(173, 179, 197);">
              <i class="fab fa-github"></i>
            </span>
          </a>
      
          <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
            <span class="icon is-size-5 has-text-primary">
              <i class="fab fa-twitter"></i>
            </span>
          </a>
        
          <div id="navbarBurgers" class="navbar-burger burger" data-target="navMenuIndex">
          
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div id="navMenuIndex" class="navbar-menu is-size-5">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              <span class="icon has-text-primary">
               <i class="fas fa-home"></i>
              </span>
              <span>
              Home
              </span>
            </a>
      
            
              <a class="navbar-item" href="/tags/linux">
                <span class="icon is-medium has-text-primary">
                  <i class="fas fa-terminal"></i>
                </span>
      
                <span>Linux</span>
              </a>
            
              <div class="navbar-item has-dropdown is-hoverable" href="/ngoding">
                <a class="navbar-link">
                <span class="icon has-text-primary">
                  <i class="fas fa-coffee"></i>
                </span>
      
                <span>Ngopi</span>
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="#">
                    PHP
                  </a>
                  <a class="navbar-item" href="#">
                    Go
                  </a>
                </div>
              </div>
              <a class="navbar-item" href="/friendlist">
                <span class="icon has-text-primary">
                  <i class="fas fa-user-friends"></i>
                </span>
      
                <span> Friends</span>
              </a>
          </div>
          
      
          <div class="navbar-end">
            <a class="navbar-item is-hidden-touch" href="https://github.com/linuxisekai" rel="noopener" target="_blank">
              <span class="icon" style="color: rgb(170, 174, 184);">
                <i class="fab fa-github"></i>
              </span>
            </a>
      
            <a class="navbar-item is-hidden-touch" href="#" target="_blank">
              <span class="icon has-text-primary">
                <i class="fab fa-twitter"></i>
              </span>
            </a>
      
            <div class="navbar-item is-hidden-desktop">
              <div class="field is-grouped is-grouped-multiline">
                <p class="control">
                  <input type="text" class="input is-rounded" placeholder="Cari">
      
                </p>
                <p class="control has-icon">
                    <input type="submit" value ="Cari" class="button is-rounded input has-text-primary" />
                    <span class="icon is-left has-text-primary">
                      <i class="fas fa-search"></i>
                    </span>
                  </p>
                </div>
                </div>
                </div>
                </div>
                </div>
                </nav>
               
          
      