<!--<div class="pageloader"></div>
        <div class="infraloader is-active"></div>-->
<nav id="navbar" class="navbar is-fixed-top is-hidden-tablet is-spaced">
        <div class="navbar-brand">

            <a id="navbarBurgers" class="navbar-burger is-hidden-desktop navbar-item has-text-success" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
               </a>
         <!-- <a type="button" name="dark_light" class="navbar-item is-hidden-desktop" onclick="toggleDarkLight()" title="Toggel dark/light">
            <i class="fas fa-moon">
              
            </i>
          </a>
        -->
        <a class="navbar-item navbar-center" href="/">
            <div class="is-size-4 has-text-weight-bold">linuxisekai</div>
            </a>

          <a type="button" name="dark_light" class="navbar-item is-hidden-desktop has-text-success" onclick="toggleDarkLight()" title="Toggel dark/light">
            <i class="fas fa-moon">
            </i>&nbsp;
          </a>

          </div>
        
        <div id="navMenu" class="navbar-menu has-text-weight-bold burger">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              &nbsp;<span class="icon">
              <i class="fas fa-home"></i>
              </span>
              <span>
              Home
              </span>
            </a>
      
            
              <a class="navbar-item" href="/tags/linux">
                &nbsp;<span class="icon">
                  <i class="fas fa-terminal"></i>
                </span>
      
                <span>Linux</span>
              </a>
            
              <div class="navbar-item has-dropdown is-hoverable" href="/ngoding">
                <a class="navbar-link">
                &nbsp;<span class="icon">
                  <i class="fas fa-coffee"></i>
                </span>
      
                <span>Ngopi</span>
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="#">
                    PHP
                  </a>
                  <a class="navbar-item" href="#">
                    Go
                  </a>
                </div>
              </div>
              <a class="navbar-item" href="/friendlist">
                &nbsp;<span class="icon">
                  <i class="fas fa-user-friends"></i>
                </span>
      
                <span> Friends</span>
              </a>
              <a class="navbar-item" href="/about">
                &nbsp;<span class="icon fa-php">
                  <i class="fas fa-user"></i>
                </span>
                <span> Portofolio</span>
              </a>
          </div>
      
          <div class="navbar-end">

              <a type="button" name="dark_light" class="navbar-item is-hidden-touch" onclick="toggleDarkLight()" title="Toggel dark/light">
                <i class="fas fa-moon">
                  
                </i>
                            </a>
            <a class="navbar-item is-hidden-touch" href="https://github.com/linuxisekai" rel="noopener" target="_blank">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
            </a>
      
            <a class="navbar-item is-hidden-touch" href="#" target="_blank">
                <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
            </a>
                </div>
                </div>
                </div>
               
                </nav>
               
          
      