<nav class="pagination is-centered is-rounded is-small" role="navigation" aria-label="pagination">
        {{ $pag := $.Paginator }}
        {{ if gt $pag.TotalPages 1 }}
        <ul class="pagination-list">
            {{ with $pag.First }}
            
            {{ end }}
            <li
            {{ if not $pag.HasPrev }}class="disabled page-item"{{ end }}>
            <a class="pagination-link is-current" href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous"><i class="fas fa-arrow-left"></i></a>
            </li>
            {{ $.Scratch.Set "__paginator.ellipsed" false }}
            {{ range $pag.Pagers }}
            {{ $right := sub .TotalPages .PageNumber }}
            {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
            {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
            {{ if $showNumber }}
                {{ $.Scratch.Set "__paginator.ellipsed" false }}
                {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
            {{ else }}
                {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
                {{ $.Scratch.Set "__paginator.ellipsed" true }}
            {{ end }}
            {{ if $showNumber }}
            <li
            {{ if eq . $pag }}{{ end }}><a class="pagination-link is-current" href="{{ .URL }}">{{ .PageNumber }}</a></li>
            {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
            <li><a class="pagination-link is-current" href="#"><span aria-hidden="true">&hellip;</span></a></li>
            {{ end }}
            {{ end }}
            <li
            {{ if not $pag.HasNext }}class="disabled page-item"{{ end }}>
            <a class="pagination-link is-current" href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next"><i class="fas fa-arrow-right"></i></a>
            </li>
            {{ with $pag.Last }}
            
            {{ end }}
        </ul>
        {{ end }}
        </nav>
        <div class="ghost-padding"></div>