
{{ $.Scratch.Set "count" 0 }}
{{ $currentPagePermalink := .Permalink }}
{{ $tags := .Params.tags }}
{{/* range (where .Site.Pages "Section" "tutorials") */}}
{{ range .Site.Pages }}
{{ $isMatchTags := intersect $tags .Params.tags | len | lt 1 }}
{{ if and $isMatchTags (ne .Permalink $currentPagePermalink) }}
<div class="container">
    <div class="no-border has-background-grey-dark">
    <a href="{{ .Permalink }}" class="has-text-grey">
        {{ .Title }}</a>
        </div>
<br/>

                
  {{ $.Scratch.Add "count" 1 }}
{{ end }}
{{ end }}
<!--
<img class="content-img" src="/img/sagi.gif">
<div class="has-text-danger"><b>Tetap semangat ngoding 👊</b></div>
<br/>-->
{{ if eq ($.Scratch.Get "count") 0 }}
<br/>
<br/>
<br/>
  
    

        
            {{ $.Scratch.Set "limit" 0 }}
            {{/* range (where .Site.Pages "Section" "tutorials") */}}
            {{ range .Site.Pages }}
            {{ $isMatchTags := intersect $tags .Params.tags | len | lt 0 }}
            {{ if and $isMatchTags (ne .Permalink $currentPagePermalink) (lt ($.Scratch.Get "limit") 3) }}
            <div class="no-border">
              {{ $.Scratch.Add "limit" 1 }}
         
            
              
                  <a href="{{ .Permalink }}">
                      {{ .Title }}</a>
              </div>
             
      
                         
                          
                          
  {{ end }}
  
  {{ end }}
</div>
{{ end }}

    

<div class="ghost-padding"></div>