/* end mobile screen */
@media screen and (max-width:768px) {
    h1.header-judul{
    font-size: 200%;
    text-align: center;
    margin-top: 3rem;
    }
.judul {
    margin-top: 5rem;
    font-size: 180%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}
h1 {
    padding-top: 2.5rem;
    padding-bottom: 0rem;
}
.content h3{
    margin-top:2em; 
}
.info-post {
  margin-bottom: 3rem;
  border-top: 0.1rem solid ;
  border-bottom: 0.1rem solid ;
  padding-bottom: 0.3rem;
  text-align: center;
  
  font-size: 0.9em;
  
}
.content {
    padding:1rem;
    font-size: 0.9em;
}
.button-post {
    padding: 2rem;
    border-color: #011627;
   
}
.button-next {
    margin-left: 1rem;
    border-color: #011627;
    background-color: #011627;
}
.button-prev {
  margin-right: 1rem;
  border-color: #011627;
  background-color: #011627;
}
.content-img {
    align-items: center;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}
}
/* end mobile screen */

/* tablet */
@media only screen and (max-width: 1023px) and (min-width: 768px) { 
  h1.header-judul{
    margin-top: 3rem;
    font-size: 300%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    }
.judul {
    margin-top: 8rem;
    font-size: 200%;
    margin-left: -2rem;
    margin-right: -2rem;
    text-align: center;
}
.content-lay {
  border-radius: 10px;
  margin-top: 1rem;
  margin-left: 13rem;
  margin-right: 13rem;
}

.content h3{
    
    margin-top:2em; 
}
.info-post {
    margin-bottom: 3rem;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
    padding-bottom: 0.5rem;
    text-align: center;
    margin-left: -2rem;
    margin-right: -2rem;
}
.content {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

h1 {
    padding-top: 5rem;
    padding-bottom: 0rem;
    
}   
.button-post {
    padding: 2rem;
    border-color: #011627;
}
.button.button-next {
    margin-left: 15rem;
    border-color: #011627;
    background-color: #011627;
}
.button-prev {
  margin-right: 15rem;
  border-color: #011627;
  background-color: #011627;
}
.content-img {
align-items: center;
border-radius: 5px;
display: block;
margin-left: auto;
margin-right: auto;
width: 600px;
height: 320px;
} 
}

/* end tablet */

/* laptop scren */

@media only screen and (min-width: 1024px) {
    h1.header-judul{
        margin-top: 3rem;
        font-size: 300%;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        }
    .judul {
        font-size: 200%;
        margin-left: -2rem;
        margin-right: -2rem;
        text-align: center;
    }
    .content-lay {
      border: 1px solid #011627;
  }
    
    .content h3{
        margin-top:2em; 
    }
    .info-post {
        margin-bottom: 3rem;
        border-bottom: 2px solid ;
        padding: 5px;
        text-align: center;
        font-size: 0.9em;
        margin-left: -2rem;
        margin-right: -2rem;
    }
    .content {
        margin-top: 8rem;
        margin-left: 14rem;
        margin-right: 14rem;
        padding: 1rem;
    }
    .button {
      background-color: #011627;
    }
    .button-post {
        padding: 2rem;
        border-color: #011627;
        
    }
    .button.button-next {
        margin-left: 15rem;
        border-color: #011627;
        background-color: #011627;
    }
    .button-prev {
      margin-right: 15rem;
      border-color: #011627;
      background-color: #011627;
  }
  .content-img {
    align-items: center;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 320px;
} 

    }

/* end laptop screen */

.info-header {
  margin-bottom: 3rem;
  border-top: 0.15rem solid ;
  border-bottom: 0.15rem solid ;
  padding-bottom: 0.5rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.disqus-comment{
    margin:0 0em 0em
}
.disqus-comment .disqus-button{
    cursor:pointer;
    border:2px solid #011627;
    background-color: #011627;
    margin:0 auto;
    max-width:150px;
    text-align:center;
    padding:2px;
    transition:.5s;
    font-size: 1rem;
}
.disqus-comment .disqus-button:hover{
    color:rgb(75, 23, 117);
    border-color:rgb(79, 23, 117)
}
            
.ghost-padding {
    padding-bottom: 6rem;
}

  .break {
    word-break: break-all;
  }
  .judul-post {
      font-size: 1.19rem; 
  }
  .h{
    padding:1rem;
    color: #BFBCBF;
  }
  .f {
      font-size: 1rem;
  }
  .message-body {
      font-family: 'Ubuntu Mono', monospace;
  }
  .borderless {
        padding: 2rem;
        border-left:3rem;
        border-left-color: aqua;
        
  }
  .e {
    padding: 1rem 1.5rem;
  }

  .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
  }
  .popup .popuptext {
      visibility: hidden;
      width: 160px;
      background-color: rgba(255, 255, 255, 0.897);
      color: rgb(47, 47, 53);
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
  }
  .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left:50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.829) transparent transparent transparent;
      
  }
  .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
  }
  @-webkit-keyframes fadeIn {
      from {opacity:0;}
      to {opacity:1;}
  }
  @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  
.btn-counter{
    border-color:  #011627;
}
.btn-counter:after{
    content:attr(data-count);
}
/*
.pageloader{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#002B36;z-index:999998;transition:-webkit-transform 0.35s ease-out;transition:transform 0.35s ease-out;transition:transform 0.35s ease-out, -webkit-transform 0.35s ease-out;-webkit-transform:translateY(-100%);transform:translateY(-100%);will-change:transform}.pageloader.is-active{-webkit-transform:translateY(0);transform:translateY(0)}.pageloader::after,.pageloader::before{position:absolute;top:50%;left:50%;display:block;border-radius:100%;content:"";z-index:999999}.pageloader::after{margin-top:-100px;margin-left:-100px;width:200px;height:200px;background-color:#2AA198;border:3px solid rgb(255, 244, 244);-webkit-animation:page-loader-inner 1.5s infinite ease-out;animation:page-loader-inner 1.5s infinite ease-out}.pageloader::before{margin-top:-30px;margin-left:-30px;width:60px;height:60px;background-color:#2AA198;-webkit-animation:page-loader-outer 1.5s infinite ease-in;animation:page-loader-outer 1.5s infinite ease-in}@-webkit-keyframes page-loader-inner{0%,40%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}@keyframes page-loader-inner{0%,40%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}@-webkit-keyframes page-loader-outer{0%{-webkit-transform:scale(1);transform:scale(1)}100%,40%{-webkit-transform:scale(0);transform:scale(0);opacity:0}}@keyframes page-loader-outer{0%{-webkit-transform:scale(1);transform:scale(1)}100%,40%{-webkit-transform:scale(0);transform:scale(0);opacity:0}}.infraloader{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#002B36;z-index:-1;opacity:0;transition:opacity .35s}.infraloader.is-active{opacity:1.0;z-index:999997}
*/

html {scroll-behavior:smooth;}
.ignielToTop {width:40px; height:40px; position:fixed; bottom:10px; right: 10px; z-index:99; cursor:pointer; border-radius:100px; transition:all .5s; background:#5A3E8D url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;}
.ignielToTop:hover {background:rgb(100, 19, 151) url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;}
/*# sourceMappingURL=bulmaswatch.min.css.map */

.putih {
  color: #C0BDC0;
}

/* columns grid masonry style */
.content-columns {
    list-style: none;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
}

.info {
  padding:1rem;
}
/* box masonry style */

  .masonry {
    columns: 1;
    column-gap: 20px;
  }
  .masonry-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
  }
  @media screen and (max-width:768px) {
    .masonry-wrapper {
      margin:1.5rem;
      padding: 0.5rem;
    }
  }

  @media only screen and (max-width: 1023px) and (min-width: 768px) {  .masonry {
      columns: 3;
  }
      .masonry-wrapper {
        padding: 1em;
        max-width: 1024px;
        margin-right: auto;
        margin-left: auto;
      }
  }
  @media only screen and (min-width: 1024px) {
    .masonry {
      columns: 3;
    }
    .masonry-wrapper {
      padding: 1em;
      max-width: 1024px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .masonry-item, .masonry-content {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .masonry-content .judul-post {
    overflow: hidden;
  }
  .masonry-item {
    background-color: #011627;
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, .6));
  }
  .masonry-title, .masonry-description {
    margin: 0;
  }
  .masonry-title {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1rem;
  }
  .masonry-info{
    font-size: 0.8rem;
  }
  .masonry-description {
    padding: 0rem 1rem 1rem;
    font-size: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .05);
  }
  .masonry-footer {
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: #01121F 1px solid;
  }
.content h4 {
  font-size: 1.1rem;
}
  /** end masonry **/

  .feather{
    height: 1.4em;
    width: 1.4em;
  }
  .no-border {
    border: 1px;
    border-style: solid;
    border-color: #01121F;
    border-left-color: #5A3E8D;
    border-left-width: 0.2rem;
    border-radius: 6px;
    margin: 0;
    padding: 1rem;
  }
  pre {
    border-left: 5px solid #5A3E8D;
    border-top-left-radius: 8px;
  }
  .content pre {
    padding: 0;
    font-size: 0.9em;
  }
 
  .navbar {
    filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, .2));
    padding: 0.5rem;
    border-radius: 0;
  }
 .t {
   padding:3px;
   background-color: #7645D1;
 }
body.light-mode h1 h2 h3 h4 h5 h6{
 background-color: #ffffff;
 color:#2E3240;
}
body.light-mode {
  background-color: #ffffff;
 color:#2E3240;
 border-color: #2E3240 solid;
}
body.light-mode .fa-github {
 color:rgb(24, 25, 27);
}
body.light-mode .fa-home {
  color:rgb(35, 79, 167);
 }
body.light-mode article {
  background-color: #ffffff;
  color:#2E3240;
 }
body.light-mode a{
  background-color: transparent;
  
 }
body.light-mode .masonry-item {
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(44, 44, 44, 0.397));
  color:#2E3240;
  }
  body.light-mode .masonry-content {
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .judul-post {
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .has-text-grey {
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .masonry-footer {
    border: 1px solid rgb(238, 236, 238);
   }
   body.light-mode .h {
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .navbar-link{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .navbar-item{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode strong{
    background-color: #ffffff;
    color:#2E3240;
   }
   
   body.light-mode .navbar{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode nav{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .container{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode nav{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode pre{
   border:0;
   border-radius:0;
   }
   body.light-mode .is-fixed-top{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .container{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .masonry-info{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .judul{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode h1.header-judul{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .content-lay{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .no-border{
    border: 1px #ffffff solid;
    border-left: 4px solid #7600BE;
    color: #2E3240;
   }
   body.light-mode .putih{
    color: #2E3240;
   }
   body.light-mode code{
    background-color: #011627;
    border-left: 4px solid #7600BE;
   }

   body.light-mode .content{
    background-color: #ffffff;
    color:#2E3240;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #ffffff;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, .2));
    position: inherit;
    overflow: hidden;
    margin-top: 8rem;
    margin-left: 14rem;
    margin-right: 14rem;
    padding: 1rem;
    padding-top:2rem;
   }
   body.light-mode .content-lay{
     border: 1px solid #ffffff;
   }
   body.light-mode .masonry-info{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode h1{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .disqus-button{
     background-color: #fff;
     
   }
   body.light-mode h2{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode h3{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode h4{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode h5{
    background-color: #ffffff;
    color:#2E3240;
   }
   
   body.light-mode .button{
    background-color: #ffffff;
    color:#2E3240;
    border-color:#fff;
   }
   body.light-mode .button-next{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode .ignielToTop{
    background-color: #4c0391;
    color:#ffffff;
   }
body.dark-mode{
 
}
nav.pagination {
  filter: none;
}
.content {
  font-family: 'GlacialIndifferenceRegular';
   font-weight: normal;
   font-style: normal; 
}
h1 h2 h3 h4 h5 {
  font-family: 'Noto Serif', sans-serif;
}
pre {
  font-family: 'Fira Code', monospace;
}
code {
  font-family: 'Fira Code', monospace;
}
pre code {
  font-family: 'Fira Code', monospace;
}
.masonry {
  font-family: 'GlacialIndifferenceRegular';
   font-weight: normal;
   font-style: normal; 
}