@media screen and (max-width:768px) {
    h1.header-judul{
    margin-top: 9rem;
    font-size: 200%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
    }
.judul {
    margin-top: 6rem;
    font-size: 10%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
}
h1 {
    padding-top: 4rem;
    padding-bottom: 0rem;
}
.content h3{
    border-bottom:2px solid #60777B;
    margin-top:2em; 
}
.info-post {
    margin:1rem;
    border-bottom: 2px solid #ACB6B7;
    padding-bottom: 0.5rem;
    text-align: center;
}
.content {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}}

@media screen and (min-width: 768px) {
    h1.header-judul{
        margin-top: 3rem;
        font-size: 200%;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        }
    .judul {
        margin-top: 6rem;
        font-size: 200%;
        margin-left: 12rem;
        margin-right: 12rem;
        text-align: center;
    }
    
    .content h3{
        border-bottom:2px solid #60777B;
        margin-top:2em; 
    }
    .info-post {
        margin-bottom: 1rem;
        border-bottom: 2px solid #ACB6B7;
        padding-bottom: 0.5rem;
        text-align: center;
        margin-left: 12rem;
        margin-right: 12rem;
    }
    .content {
        margin-top: 1rem;
        margin-left: 17rem;
        margin-right: 17rem;
    }
    h1 {
        padding-top: 5rem;
        padding-bottom: 0rem;
    }    
    }
.disqus-comment{
    margin:0 0em 0em
}
.disqus-comment .disqus-button{
    cursor:pointer;
    border:2px solid rgb(167, 167, 167);
    color:#999;
    margin:0 auto;
    max-width:150px;
    text-align:center;
    padding:2px;
    transition:.5s;
    border-radius: 10px;
    font-size: 1rem;
}
.disqus-comment .disqus-button:hover{
    color:rgb(23, 117, 105);border-color:rgb(23, 117, 105)
}
            
.content-img {
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }
.ghost-padding {
    padding-bottom: 6rem;
}

  .break {
    word-break: break-all;
  }
  .judul-post {
      font-size: 1em;
  }
  .f {
      font-size: 0.8em;
  }
  .message-body {
      font-family: 'Ubuntu Mono', monospace;
  }
  
  #profile_pic {
    bottom: 4rem;
    margin-left: 42%;
  }
  
  .profile_info {
    margin-top: -3.3rem;
    padding-left: 1em;
    padding-right: 1em;
  }
  .section.uu{
      margin-top: 10rem;
  }