/* end mobile screen */
@media screen and (max-width:768px) {
    h1.header-judul{
    margin-top: 1rem;
    font-size: 200%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    }
.judul {
    margin-top: 6rem;
    font-size: 180%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}
h1 {
    padding-top: 4rem;
    padding-bottom: 0rem;
}
.content h3{
    border-bottom:2px solid rgb(21, 41, 44);
    margin-top:2em; 
}
.info-post {
  margin-bottom: 3rem;
  border-bottom: 0.2rem solid ;
  padding-bottom: 0.5rem;
  text-align: center;
  margin-left:-0.1em;
  margin-right: -0.1rem;
}
.content {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.button-post {
    padding: 2rem;
    border-color: #073642;
}
.button-next {
    margin-left: 1rem;
    border-color: #073642;
}
.button-prev {
  margin-right: 1rem;
  border-color: #073642;
}
.content-img {
    align-items: center;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}
}
/* end mobile screen */

/* tablet */
@media only screen and (max-width: 1023px) and (min-width: 768px) { 
  h1.header-judul{
    margin-top: 3rem;
    font-size: 300%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    }
.judul {
    margin-top: 8rem;
    font-size: 200%;
    margin-left: -2rem;
    margin-right: -2rem;
    text-align: center;
}
.content-lay {
  border-radius: 10px;
  margin-top: 1rem;
  margin-left: 13rem;
  margin-right: 13rem;
}

.content h3{
    
    margin-top:2em; 
}
.info-post {
    margin-bottom: 3rem;
    border-bottom: 0.2rem solid ;
    padding-bottom: 0.5rem;
    text-align: center;
    margin-left: -2rem;
    margin-right: -2rem;
}
.content {
    margin-top: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

h1 {
    padding-top: 5rem;
    padding-bottom: 0rem;
    
}   
.button-post {
    padding: 2rem;
    border-color: #073642;
}
.button.button-next {
    margin-left: 15rem;
    border-color: #073642;
}
.button-prev {
  margin-right: 15rem;
  border-color: #073642;
}
.content-img {
align-items: center;
border-radius: 5px;
display: block;
margin-left: auto;
margin-right: auto;
width: 600px;
height: 320px;
} 
}

/* end tablet */

/* laptop scren */

@media only screen and (min-width: 1024px) {
    h1.header-judul{
        margin-top: 3rem;
        font-size: 300%;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        }
    .judul {
        margin-top: 8rem;
        font-size: 200%;
        margin-left: -2rem;
        margin-right: -2rem;
        text-align: center;
    }
    .content-lay {
      border-radius: 10px;
      margin-top: 1rem;
      margin-left: 13rem;
      margin-right: 13rem;
  }
    
    .content h3{
        
        margin-top:2em; 
    }
    .info-post {
        margin-bottom: 3rem;
        border-bottom: 0.2rem solid ;
        padding-bottom: 0.5rem;
        text-align: center;
        margin-left: -2rem;
        margin-right: -2rem;
    }
    .content {
        margin-top: 1rem;
        margin-left: 14rem;
        margin-right: 14rem;
    }
  
    h1 {
        padding-top: 5rem;
        padding-bottom: 0rem;
        
    }   
    .button-post {
        padding: 2rem;
        border-color: #073642;
    }
    .button.button-next {
        margin-left: 15rem;
        border-color: #073642;
    }
    .button-prev {
      margin-right: 15rem;
      border-color: #073642;
  }
  .content-img {
    align-items: center;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 320px;
} 

    }

/* end laptop screen */

.info-header {
  margin-bottom: 3rem;
  border-bottom: 0.2rem solid ;
  padding-bottom: 0.5rem;
  text-align: center;
}

.disqus-comment{
    margin:0 0em 0em
}
.disqus-comment .disqus-button{
    cursor:pointer;
    border:2px solid #073642;
    margin:0 auto;
    max-width:150px;
    text-align:center;
    padding:2px;
    transition:.5s;
    border-radius: 10px;
    font-size: 1rem;
}
.disqus-comment .disqus-button:hover{
    color:rgb(23, 117, 105);border-color:rgb(23, 117, 105)
}
            
.ghost-padding {
    padding-bottom: 6rem;
}

  .break {
    word-break: break-all;
  }
  .judul-post {
      font-size: 1.19rem; 
  }
  .h{
    padding:1rem;
  }
  .f {
      font-size: 1rem;
  }
  .message-body {
      font-family: 'Ubuntu Mono', monospace;
  }
  .borderless {
        padding: 2rem;
        border-left:3rem;
        border-left-color: aqua;
        
  }
  .e {
    padding: 1rem 1.5rem;
  }

  .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
  }
  .popup .popuptext {
      visibility: hidden;
      width: 160px;
      background-color: rgba(255, 255, 255, 0.897);
      color: rgb(47, 47, 53);
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
  }
  .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left:50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.829) transparent transparent transparent;
      
  }
  .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
  }
  @-webkit-keyframes fadeIn {
      from {opacity:0;}
      to {opacity:1;}
  }
  @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  
.btn-counter{
    border-color: #073642;
}
.btn-counter:after{
    content:attr(data-count);
}
/*
.pageloader{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#002B36;z-index:999998;transition:-webkit-transform 0.35s ease-out;transition:transform 0.35s ease-out;transition:transform 0.35s ease-out, -webkit-transform 0.35s ease-out;-webkit-transform:translateY(-100%);transform:translateY(-100%);will-change:transform}.pageloader.is-active{-webkit-transform:translateY(0);transform:translateY(0)}.pageloader::after,.pageloader::before{position:absolute;top:50%;left:50%;display:block;border-radius:100%;content:"";z-index:999999}.pageloader::after{margin-top:-100px;margin-left:-100px;width:200px;height:200px;background-color:#2AA198;border:3px solid rgb(255, 244, 244);-webkit-animation:page-loader-inner 1.5s infinite ease-out;animation:page-loader-inner 1.5s infinite ease-out}.pageloader::before{margin-top:-30px;margin-left:-30px;width:60px;height:60px;background-color:#2AA198;-webkit-animation:page-loader-outer 1.5s infinite ease-in;animation:page-loader-outer 1.5s infinite ease-in}@-webkit-keyframes page-loader-inner{0%,40%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}@keyframes page-loader-inner{0%,40%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}@-webkit-keyframes page-loader-outer{0%{-webkit-transform:scale(1);transform:scale(1)}100%,40%{-webkit-transform:scale(0);transform:scale(0);opacity:0}}@keyframes page-loader-outer{0%{-webkit-transform:scale(1);transform:scale(1)}100%,40%{-webkit-transform:scale(0);transform:scale(0);opacity:0}}.infraloader{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#002B36;z-index:-1;opacity:0;transition:opacity .35s}.infraloader.is-active{opacity:1.0;z-index:999997}
*/
/*
html {scroll-behavior:smooth;} */
.ignielToTop {width:40px; height:40px; position:fixed; bottom:10px; right: 10px; z-index:99; cursor:pointer; border-radius:100px; transition:all .5s; background:#2AA198 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;}
.ignielToTop:hover {background:#2AA198 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;}
/*# sourceMappingURL=bulmaswatch.min.css.map */


/* columns grid masonry style */
.content-columns {
    list-style: none;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
}

.info {
  padding:1rem;
}
/* box masonry style */

  .masonry-wrapper {
    padding: 1em;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
  }
  .masonry {
    columns: 1;
    column-gap: 20px;
  }
  .masonry-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {  .masonry {
      columns: 3;
    }
  }
  @media only screen and (min-width: 1024px) {
    .masonry {
      columns: 3;
    }
  }
  .masonry-item, .masonry-content {
    border-radius: 10px;
    overflow: hidden;
  }
  .masonry-item {
    filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, .1));
  }
  .masonry-item:hover {
    filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, .6));
  }
  .masonry-content .judul-post {
    overflow: hidden;
  }
  .masonry-item {
    background-color: #073642;
  }
  .masonry-title, .masonry-description {
    margin: 0;
  }
  .masonry-title {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1rem;
  }
  .masonry-info{
    font-size: 0.8rem;
  }
  .masonry-description {
    padding: 0rem 1rem 1rem;
    font-size: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .05);
  }
  .masonry-footer {
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    padding-top: 2em;
    padding-bottom: 2em;
   
    transition: opacity 1s ease-in-out;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .25s ease-in-out;
  }

  /** end masonry **/

  .feather{
    height: 1.4em;
    width: 1.4em;
  }
  .no-border {
    border: 1px;
    border-style: solid;
    border-color: #002B36;
    border-left-color: #2AA198;
    border-left-width: 0.2rem;
    border-radius: 6px;
    margin:-4px;
    padding: 1rem;
  }
  pre {
    border: 2px solid #839496;
  }
