.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #0D142A;
  color: rgb(187, 187, 187);
}

.hljs-comment,
.hljs-quote {
  color: rgb(143, 143, 143);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color:rgb(255, 0, 123);
}

.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #27A097;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268AD1;
}

.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #ddff00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: rgb(255, 191, 0);
}

.hljs-built_in,
.hljs-deletion {
  color: rgb(250, 8, 8);
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
