body.light-mode h1 h2 h3 h4 h5 h6{
    background-color: #ffffff;
    color:#2E3240;
   }
   body.light-mode {
    background-color: #ffffff;
   color:#2E3240;
  }
  
   
   .fa-code {
     color:rgb(20, 141, 131);
    }
  
   .fa-coffee {
      color:rgb(150, 192, 52);
     }
    .fa-home {
      color:rgb(15, 161, 187);
     }
    .fa-user-friends {
      color:rgb(201, 39, 33);
     }
    .fa-terminal {
      color:rgb(226, 39, 142);
     }
     .fa-user-circle {
      color:rgb(212, 138, 2);
     }
     .fa-php {
      color:rgb(21, 197, 228);
     }
   body.light-mode article {
     background-color: #ffffff;
     color:#2E3240;
    }
   body.light-mode a{
     background-color: transparent;
     
    }
   body.light-mode .masonry-item {
     background-color: #ffffff;
     filter: drop-shadow(0px 4px 4px rgba(44, 44, 44, 0.397));
     color:#2E3240;
     }
     body.light-mode .masonry-item:hover {
      background-color: #ffffff;
      filter: drop-shadow(0px 5px 7px rgba(44, 44, 44, 0.897));
      color:#2E3240;
      }
     body.light-mode .masonry-content {
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode a {
       color: #FF007D;
      }
      body.light-mode a:hover {
        color: #DE00FF;
       }
      body.light-mode .has-text-grey {
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .masonry-footer {
       border: 1px solid rgb(238, 236, 238);
      }
      body.light-mode .h {
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .navbar-link{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .navbar-item{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode strong{
       background-color: #ffffff;
       color:#2E3240;
      }
      
      body.light-mode .navbar{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode nav{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .container{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .is-fullheight {
        background-color: #ffffff;
      }
      body.light-mode .navbar{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .has-text-primary {
        color:#FF007D !important;
      }
      body.light-mode pre{
      border-color: rgb(250, 119, 182);
      }
      body.light-mode code {
        background-color: #F1F1F1;
        color: rgb(111, 114, 122);
      }
      body.light-mode .is-fixed-top{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .masonry-info{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .judul{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode h1.header-judul{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .content-lay{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .no-border{
       border: 1px #ffffff solid;
       border-left: 4px solid #7600BE;
       color: #2E3240;
      }
      body.light-mode .putih{
       color: #2E3240;
      }
      body.light-mode .content{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .content-lay{
        border: 1px solid transparent;
      }
      body.light-mode .masonry-info{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode h1{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .disqus-button{
        background-color: #fff;
        
      }
      body.light-mode h2{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode h3{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode h4{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode h5{
       background-color: #ffffff;
       color:#2E3240;
      }
      
      body.light-mode .button{
       background-color: #ffffff;
       color:#2E3240;
       border-color:#fff;
      }
      body.light-mode .button-next{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode .is-current{
        background-color: #FF007D;
        border-color: #FF007D;
       }
      body.light-mode .ignielToTop{
       background-color: rgb(206, 0, 171);
       color:#ffffff;
      }
      body.light-mode footer {
       background-color: #ffffff;
       color:#2E3240;
       border: 0;
      }
      body.light-mode .fixed {
        background-color: #fff;
        color: #2E3240;
        border-right: #CECECE 12px solid;
      }
      body.light-mode .menu-list li a {
        background-color: #fff;
        color: #2E3240;
      }
      body.light-mode .menu-list li a:hover {
        color: rgb(200, 29, 216);
      }
      
      body.light-mode .menu-label {
       color: #2E3240;
        
      }