body.light-mode {
  background-color: #FFF;
  color:#4A4A4A;
  }
  
   body.light-mode article {
     background-color: #ffffff;
     color:#4A4A4A;
    }
   body.light-mode a{
     background-color: transparent;
    }
   body.light-mode .masonry-item {
     background-color: #fff;
     filter: drop-shadow(0px 2px 2px rgba(71, 68, 70, 0.336));
     color:#4A4A4A;
     }
     body.light-mode .masonry-item:hover {
      background-color: #fff;
      filter: drop-shadow(0px 2px 4px rgba(71, 68, 70, 0.536));
      color:#4A4A4A;
      }
    
     body.light-mode .masonry-content {
       background-color: #fff;
       color:#4A4A4A;
      }
      body.light-mode a {
       color: #FF007D;
      }
      body.light-mode a:hover {
        color: rgb(40, 122, 228);
       }
      body.light-mode .has-text-grey {
       background-color: #ffffff;
       color:#4A4A4A;
      }
     body.light-mode .t {
       background-color: #FF007D;
       color: #FFF;
     }
     body.light-mode .pagination{ 
      background-color: #FFF !important;
      border-color: #4A4A4A;
    }
     body.light-mode .pagination-list { 
      background-color: #FFF !important;
      border-color: #4A4A4A;
    }
      body.light-mode .pagination-link { 
        background-color: #FFF !important;
        border-color: #4A4A4A;
      }
      body.light-mode .pagination-previous {
        background-color: #FFF !important;
        border-color: #4A4A4A;
      }
      body.light-mode .pagination-next {
        background-color: #FFF !important;
        border-color: #4A4A4A;
      }
      body.light-mode .masonry-footer {
       border: 1px solid rgb(238, 236, 238);
      }
      body.light-mode .h {
       background-color: #fff;
       color:#4A4A4A;
      }
      body.light-mode .navbar-link{
       background-color: #ffffff;
       color:#4A4A4A;
      }
      body.light-mode .navbar-item {
       color:#4A4A4A;
      }
      body.light-mode strong{
       background-color: #ffffff;
       color:#2E3240;
      }
      body.light-mode nav{
       color:#4A4A4A;
      }
      body.light-mode .navbar{
       background-color: #ffffff;
       color:#4A4A4A;
       border-bottom: 2px solid rgb(240, 234, 234)
      }
      body.light-mode .has-text-primary {
        color:#FF007D !important;
      }
      body.light-mode pre{
      border-color: #F85191;
       
      }
      body.light-mode .judul-postingan {
        color: #363636;
        background-color: #FFF;
      }
      body.light-mode .judul-post {
        color: #4A4A4A;
      }
      body.light-mode .judul-post:hover {
        color: #FF007D;
      }
      
      body.light-mode code {
        background-color: #fff;
      }
      body.light-mode .is-fixed-top{
       background-color: #ffffff;
       color:#4A4A4A;
      }
      body.light-mode .masonry-info{
       background-color: #E7E9EB;
       color:#4A4A4A;
      }
      body.light-mode .judul{
       background-color: #ffffff;
       color:#4A4A4A;
      }
      body.light-mode h1.header-judul{
       background-color: #ffffff;
       color:#4A4A4A;
      }
      body.light-mode .content-lay{
       background-color: #ffffff;
       color:#4A4A4A;
      }
      body.light-mode .no-border{
      background-color: #E7E9EB;
      margin: 0;
      padding: 1rem;
      border-left: 4px solid #F85191;
      color: #4A4A4A;
      }
      body.light-mode .popuptext {
        background-color: #2E3240;
        color: #fff;
      }
      body.light-mode .putih{
       color: #4A4A4A;
      }
      body.light-mode .content{
       background-color: #ffffff;
       color:#4A4A4A;
      }
      body.light-mode .content-lay{
        border: 1px solid transparent;
      }
      body.light-mode .masonry-info{
       background-color: #E7E9EB;
       color:#4A4A4A;
      }
      body.light-mode h1{
       background-color: #ffffff;
       color:#363636;
      }
      body.light-mode .disqus-button{
        background-color: #fff;
        
      }
      body.light-mode h2{
       background-color: #ffffff;
       color:#363636;
      }
      body.light-mode h3{
       background-color: #ffffff;
       color:#4A4A4A;
      }
      body.light-mode h4{
       background-color: #ffffff;
       color:#4A4A4A;
      }
      body.light-mode h5{
       background-color: #ffffff;
       color:#4A4A4A;
      }
      
      body.light-mode .button{
       background-color: #ffffff;
       color:#4A4A4A;
       border-color:#fff;
      }
      body.light-mode .button-next{
       background-color: #ffffff;
       color:#4A4A4A;
      }
      body.light-mode .is-current{
        background-color: #FF007D !important;
        border-color: #FF007D;
       }
      body.light-mode .ignielToTop{
       background-color: #F85191;
       color:#ffffff;
      }
      body.light-mode footer {
       color:#4A4A4A;
       border: 0;
      }
      body.light-mode .fixed {
        color: #4A4A4A;
      }
      body.light-mode .menu-list li a {
        background-color: #E7E9EB;
        color: #4A4A4A;
      }
      body.light-mode .menu-list li a:hover {
        color: rgb(29, 132, 216);
      }
      
      body.light-mode .menu-label {
       color: #4A4A4A;
        
      }
      body.light-mode .has-background-grey {
        background-color: #FFF;
      }
      body.light-mode .box {
        background-color: #EFEFEF;
      }
      body.light-mode .masonry-wrapper {
        background-color: #FFF;
        margin: 1rem;
      }
      body.light-mode .masonry {
        background-color: #fff;
      }
      body.light-mode .footer {
        background-color: #fff;
        color: #4A4A4A;
      }
      body.light-mode .disqus-comment .disqus-button{
        cursor:pointer;
        border:2px solid #E7E9EB;
        background-color: #E7E9EB;
        margin:0 auto;
        color: #F85191;
        max-width:150px;
        text-align:center;
        padding:2px;
        transition:.5s;
        font-size: 1rem;
    }
body.light-mode .content h2 {
  border-bottom: 1px solid #CECECE;
}
body.light-mode .main-content {
  background-color: #F5F5F5;
}
body.light-mode .container {
  background-color:#Ffff;
}
body.light-mode .columns {
  background-color: #fff;
}
body.light-mode .is-fullheight {
  background-color: #Fff;
}
body.light-mode .has-text-grey-light {
  color: #4A4A4A !important;
}
body.light-mode .sidenav {
background-color: #fff !important;
}
/* The navigation menu links */
body.light-mode .sidenav a {
  color: #4A4A4A !important;
}
body.light-mode .navbar-header {
  background-color: #E7E9EB !important;
}
body.light-mode .title {
  color: #4A4A4A;
}
body.light-mode .portofolio-heading {
  border-color: #CECECE;
}
body.light-mode .light {
  background-color: #F5F5F5;
}