<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "navbar.html" . }}


    <section class="section container projects">
        <h1 class="is-size-1 has-text-centered"><b>Linuxisekai</b></h1>
        <h2 class="subtitle is-size-5 has-text-centered">Nolep Enthusiast Project</h2>
        <div class="project-grid">
        <div class="columns is-multiline is-mobile">
                            {{ range .Data.Pages }}
                       
                      <div class="column is-12-mobile is-half-tablet is-one-third-desktop"> 
                          <div class="box">    
                        <figure class="image"><img class="project-thumb" src="{{ with .Params.image }}{{ . }}{{ end }}" alt="" />
                          <figcaption class="figcaption">
                            <a class="button is-primary is-outlined is-rounded" href="{{ .RelPermalink }}">
                              <span>Read..</span>
                              <span class="icon">
                                <i class="fas fa-angle-right"></i>
                              </span></a>
                            </figcaption>
                          <div class="overlay">
                        </figure>
                        <br>
                        
                        <a href="{{ .RelPermalink }}" class="judul-post">
                        <span class="icon">
                          <i class="fas fa-book"></i>             
                      </span>
                      &nbsp;{{ .Title }}
                        </a>
                        </div>
                        </div>
                        {{ end }}
                        </div>
                        </div>
                        </div>
                        </div>
                        </section>
    {{ partial "footer.html" . }}
    {{ partial "js-init.html" . }}
  </body>
</html>