<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "navbar.html" . }}
    {{ partial "header.html" . }}

    <div class="container">
      <div class="masonry-wrapper">
        <div class="masonry">
                            {{ range .Data.Pages }}
                       
                            <div class="masonry-item">
                              <div class="masonry-content">
                                <img src="{{ with .Params.image }}{{ . }}{{ end }}" alt="{{ .Title }}" sizes="20em">
                                <div class="h">
                                <div class="judul-post">
                                    <a href="{{ .RelPermalink }}">
                                            
                                  {{ .Title }}
                                  </a>
                                <br/>
                                </div>
                                  
                                  <i data-feather="calendar"  class="is-size-7 has-text-primary"></i>
                                  {{ .PublishDate.Format "January 2, 2006" }}
                                     <i data-feather="edit-3" class="is-size-7 has-text-primary"></i>
                                      {{ $taxonomy := "tags" }}
                                      {{ with .Param $taxonomy }}
                                      {{ range $index, $tag := . }}
                                      
                                      {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
                                      {{ $tag | urlize }}
                                      {{- end -}}
                                      {{- end -}}
                                      {{ end }}
                                      
                                      </div>
                                  </div>
                                </div>
                                {{ end }}
                                </div>
                                </div>
                                </div>
    {{ partial "pagination.html" . }}
    {{ partial "info.html" . }}
    {{ partial "js-init.html" . }}
  </body>
</html>