@import url("https://fonts.googleapis.com/css?family=Courgette|Fira+Code&display=swap");
@font-face {
  font-family: 'GlacialIndifferenceRegular';
  src: url('/font/GlacialIndifferenceRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
    }
    body {
     font-family: 'GlacialIndifferenceRegular';
    }
    .content code {
        font-family:'Fira Code', monospace;
        font-size:0.8rem !important;
    }
.info-header {
  margin-bottom: 3rem;
  border-top: 0.15rem solid ;
  border-bottom: 0.15rem solid ;
  padding-bottom: 0.5rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.disqus-comment{
    margin:0 0em 0em
}
.disqus-comment .disqus-button{
    cursor:pointer;
    border:2px solid #0D142A;
    background-color: #0D142A;
    margin:0 auto;
    max-width:150px;
    text-align:center;
    padding:2px;
    transition:.5s;
    font-size: 1rem;
}
            
.ghost-padding {
    padding-bottom: 6rem;
}

  .break {
    word-break: break-all;
  }
  .judul-post {
      font-size: 1.3rem; 
      font-weight: 600;
  }
  .h{
    padding-top: 0 !important;
    padding:1rem;
  }
  .f {
      font-size: 1rem;
  }
  .message-body {
      font-family: 'Fira code', monospace;
  }
  .borderless {
        padding: 2rem;
        border-left:3rem;
        border-left-color: aqua;
        
  }
  .e {
    padding: 1rem 1.5rem;
  }

  .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      margin-left: 40%;
      justify-items: center;
      margin-right: 40%;
     
  }
  .popup .popuptext {
      visibility: hidden;
      width: 160px;
      background-color: rgba(255, 255, 255, 0.897);
      color: rgb(47, 47, 53);
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
  }
  .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left:50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.829) transparent transparent transparent;
      
  }
  .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 4s;
      animation: fadeIn 2s;
  }
  @-webkit-keyframes fadeIn {
      from {opacity:0;}
      to {opacity:1;}
  }
  @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  
.btn-counter{
    border-color:  #0D142A;
}

.btn-counter:after{
    content:attr(data-count);
}

.pageloader{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#002B36;z-index:999998;transition:-webkit-transform 0.35s ease-out;transition:transform 0.35s ease-out;transition:transform 0.35s ease-out, -webkit-transform 0.35s ease-out;-webkit-transform:translateY(-100%);transform:translateY(-100%);will-change:transform}.pageloader.is-active{-webkit-transform:translateY(0);transform:translateY(0)}.pageloader::after,.pageloader::before{position:absolute;top:50%;left:50%;display:block;border-radius:100%;content:"";z-index:999999}.pageloader::after{margin-top:-100px;margin-left:-100px;width:200px;height:200px;background-color:#2AA198;border:3px solid rgb(255, 244, 244);-webkit-animation:page-loader-inner 1.5s infinite ease-out;animation:page-loader-inner 1.5s infinite ease-out}.pageloader::before{margin-top:-30px;margin-left:-30px;width:60px;height:60px;background-color:#2AA198;-webkit-animation:page-loader-outer 1.5s infinite ease-in;animation:page-loader-outer 1.5s infinite ease-in}@-webkit-keyframes page-loader-inner{0%,40%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}@keyframes page-loader-inner{0%,40%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}@-webkit-keyframes page-loader-outer{0%{-webkit-transform:scale(1);transform:scale(1)}100%,40%{-webkit-transform:scale(0);transform:scale(0);opacity:0}}@keyframes page-loader-outer{0%{-webkit-transform:scale(1);transform:scale(1)}100%,40%{-webkit-transform:scale(0);transform:scale(0);opacity:0}}.infraloader{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#002B36;z-index:-1;opacity:0;transition:opacity .35s}.infraloader.is-active{opacity:1.0;z-index:999997}


html {scroll-behavior:smooth;}
.ignielToTop {width:40px; height:40px; position:fixed; bottom:10px; right: 10px; z-index:99; cursor:pointer; border-radius:100px; transition:all .5s; background:#5A3E8D url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;}
.ignielToTop:hover {background:rgb(100, 19, 151) url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;}
/*# sourceMappingURL=bulmaswatch.min.css.map */

.putih {
  color: #C0BDC0;
}

/* columns grid masonry style */


.info {
  padding:1rem;
}
  .masonry {
    columns: 1;
    column-gap: 12px;
  }
  .masonry-item {
    display: inline-block;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    vertical-align: top;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.281));
  }
  body.light-mode .masonry-item:hover {
    filter: drop-shadow(0px 2px 4px rgba(71, 68, 70, 0.536));
    }
  
  @media screen and (max-width:768px) {
    .masonry-wrapper {
      margin:1rem;
    }
      .masonry-friendlist {
        columns: 1;
      }
      .judul-postingan {
        margin-top: 1rem;
      }
     
      .content {
        font-size : 1rem !important;
      }
      .column {
        padding: 0;
      }
      .h {
        padding: 1rem;
      }
  }

  @media only screen and (max-width: 1023px) and (min-width: 769px) {  
    .masonry {
      columns:2;
  }
  .masonry-friendlist {
    columns: 2;
  }
      .masonry-wrapper {
        padding: 1em;
        max-width: 1024px;
        margin-right: auto;
        margin-left: auto;
      }
  }
  @media only screen and (min-width: 1024px) {
    .masonry {
      columns: 3;
      
    }
    .masonry-friendlist {
      columns: 3;
    }
    .masonry-wrapper {
      padding: 1em;
      max-width: 1024px;
      margin-right: auto;
      margin-left: auto;
    }
}
 
  .masonry-title {
    font-weight: 700;
    font-size: 1.1rem;
  }
  
  .masonry-description {
    padding: 0rem 1rem 1rem;
    font-size: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .05);
  }

  .footer {
    text-align: center;
    border-radius: 10px;
    padding-top: 1.5em;
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
  }
.content h4 {
  font-size: 1.1rem;
}
  /** end masonry **/

  .feather{
    height: 1.4em;
    width: 1.4em;
  }
  .no-border {
    border-left: 0.2rem solid #A33A4E;
    background-color: #0D142A;
    margin: 0;
    padding: 1rem;
  }
  pre {
    border-left: 5px solid rgb(214, 83, 107);
    border-top-left-radius: 8px;
    border-top-right-radius : 8px;
    border-bottom-right-radius: 8px;
  }
  .content pre {
    padding: 0;
    font-size: 0.8rem !important;
}
 .title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
 }
 .t {
   padding:3px;
   background-color: #EA2F3E;
   color:#C3AB95;
 }
nav.pagination {
  filter: none;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: 600;
  z-index: 1;
  
}
@media screen and (min-width:1024px) {
.label-fixed {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.kiri-kanan {
  border-left: 2px solid;
  border-right: 2px solid;
}
}

span.icon {
  margin-left: 0rem;
  margin-right: 1rem;
}
a.navbar-item {
  font-weight: 600;
}
.content-img {
  margin: 0;
  padding: 0;
}

 .button-post {
   margin-right: 30%;
   margin-left: 30%;
 }
.content {
  padding: 2rem;
}
.judul-postingan {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 600;
  line-height: 1.125;
}
.gambar-teman {
  border-radius: 50%;
  width: 80px;
}
.mbuh {
padding: 2rem;
}

.no-margin {
  margin: 0;
  padding: 0;
}
.content h2 {
  border-bottom: 1px solid #00192F;
  padding-bottom: 0.4rem;
}
.portofolio-heading {
  border-bottom: 1px solid #191D29;
}
.portofolio-item {
  margin-left: 3rem;
}
.progress {
  background-color: #C0BDC0 !important;
}
progress {
  background-color: #C0BDC0 !important;
}

.bottom {
  justify-self: end;
}
.navbar {
  height: 3.5rem;
  background-color:#0D142A
}
.navbar-item.navbar-center {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.o {
  height: 2px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  bottom: 0;
  font-size: 1.05rem;
  background-color: #0D142A; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav .item {
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding-left: 1.5rem;
  color: #C3AB95;
  transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  font-size: 1rem;
  margin-left: 80%;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
.navbar-header {
  padding: 2rem;
  padding-top: 3rem;
}
.rounded {
  border-radius: 6px;
}
.aside-item {
  margin-top: 1rem;
  padding-left: 0.5rem;
}
.aside-item:hover {
  color: rgb(255, 226, 245) !important;
}
body.light-mode .aside-item:hover {
  color: rgb(0, 130, 252) !important;
}



::-webkit-scrollbar {
  width: 10px
}
::-webkit-scrollbar-track {
  background: #00192F;
}
::-webkit-scrollbar-thumb {
background: #00192F;
}
.ld-animation {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.ld-animation div {
  position: absolute;
  background-color: #2AA198;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0,1,1,0)
}
.ld-animation div:nth-child(1) {
left: 6px;
animation: ld-animation 0.6s infinite;
}
.ld-animation div:nth-child(2) {
  left: 6px;
  animation: ld-animation1 0.6s infinite;
  }
.ld-animation div:nth-child(3) {
    left: 26px;
    animation: ld-animation2 0.6s infinite;
    }
.ld-animation div:nth-child(4) {
  left: 45px;
  animation: ld-animation3 0.6s infinite;
      }
@keyframes ld-animation1 {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}
@keyframes ld-animation3 {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(0)
  }
}
@keyframes ld-animation2 {
  0% {
    transform: translate(0,0)
  }
  100% {
    transform: translate(19px,0)
  }
}