/* end mobile screen */
@media screen and (max-width:768px) {
    h1.header-judul{
    margin-top: 1rem;
    font-size: 200%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    }
.judul {
    margin-top: 6rem;
    font-size: 180%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
}
h1 {
    padding-top: 4rem;
    padding-bottom: 0rem;
}
.content h3{
    border-bottom:2px solid #60777B;
    margin-top:2em; 
}
.info-post {
    margin:1rem;
    border-bottom: 2px solid #ACB6B7;
    padding-bottom: 0.5rem;
    text-align: center;
}
.content {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.button-post {
    padding: 2rem;
    border-color: #073642;
}
.button-next {
    margin-left: 1rem;
    border-color: #073642;
}
.button-prev {
  margin-right: 1rem;
  border-color: #073642;
}
.content-img {
    align-items: center;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}
}
/* end mobile screen */

/* laptop scren */

@media screen and (min-width: 768px) {
    h1.header-judul{
        margin-top: 3rem;
        font-size: 200%;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        }
    .judul {
        margin-top: 8rem;
        font-size: 200%;
        margin-left: 12rem;
        margin-right: 12rem;
        text-align: center;
    }
    
    .content h3{
        border-bottom:2px solid #60777B;
        margin-top:2em; 
    }
    .info-post {
        margin-bottom: 3rem;
        border-bottom: 2px solid #ACB6B7;
        padding-bottom: 0.5rem;
        text-align: center;
        margin-left: 12rem;
        margin-right: 12rem;
    }
    .content {
        margin-top: 1rem;
        margin-left: 17rem;
        margin-right: 17rem;
    }
    h1 {
        padding-top: 5rem;
        padding-bottom: 0rem;
        
    }   
    .button-post {
        padding: 2rem;
        border-color: #073642;
    }
    .button.button-next {
        margin-left: 15rem;
        border-color: #073642;
    }
    .button-prev {
      margin-right: 15rem;
      border-color: #073642;
  }
  .content-img {
    align-items: center;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 320px;
} 

    }

/* end laptop screen */

.disqus-comment{
    margin:0 0em 0em
}
.disqus-comment .disqus-button{
    cursor:pointer;
    border:2px solid rgb(167, 167, 167);
    color:#999;
    margin:0 auto;
    max-width:150px;
    text-align:center;
    padding:2px;
    transition:.5s;
    border-radius: 10px;
    font-size: 1rem;
}
.disqus-comment .disqus-button:hover{
    color:rgb(23, 117, 105);border-color:rgb(23, 117, 105)
}
            
.ghost-padding {
    padding-bottom: 6rem;
}

  .break {
    word-break: break-all;
  }
  .judul-post {
      font-size: 1em;
  }
  .f {
      font-size: 0.8em;
  }
  .message-body {
      font-family: 'Ubuntu Mono', monospace;
  }
  .borderless {
        padding: 2rem;
        border-left:3rem;
        border-left-color: aqua;
        
  }
  .e {
      padding: 1em;
  }

  .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
  }
  .popup .popuptext {
      visibility: hidden;
      width: 160px;
      background-color: rgba(255, 255, 255, 0.897);
      color: rgb(47, 47, 53);
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
  }
  .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left:50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.829) transparent transparent transparent;
      
  }
  .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
  }
  @-webkit-keyframes fadeIn {
      from {opacity:0;}
      to {opacity:1;}
  }
  @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  
.btn-counter{
    border-color: #073642;
}
.btn-counter:after{
    content:attr(data-count);
}
