<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "navbar.html" . }}
    {{ partial "header.html" . }}
    {{ partial "grid.html" . }}
    {{ partial "pagination.html" . }}
    {{ partial "info.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "js-init.html" . }}
    <script>
        if('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/sw.js', { scope: '/' })
                .then(function(registration) {
                    console.log('Service Worker Registered');
                });
    
            navigator.serviceWorker
                .ready
                .then(function(registration) {
                    console.log('Service Worker Ready');
                });
        }
    </script>
  
  </body>
</html>