<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body id="body" class="dark-mode">
    {{ partial "navbar.html" . }}
    {{ partial "header.html" . }}
    {{ partial "grid.html" . }}
    {{ partial "pagination.html" . }}
    {{ partial "info.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "js-init.html" . }}
    <script>
        if('serviceWorker' in navigator) {
            window.addEventListener("load", () => {
                navigator.serviceWorker.register("/sw.js").then(swReg => {}).catch(err =>{
                    console.error('Service Worker Error', err);
                });
            });
        }
    </script>
  
  </body>
</html>