<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
    
    {{ partial "navbar.html" . }}
                
    
 <div class="content">

        <div class="judul">
                <b>
                {{ .Title }}</b>
            </div>
            <div class="info-post">
                    <i class="fas fa-calendar-alt is-size-7 has-text-primary"></i>
                    {{ .PublishDate.Format "January 2, 2006" }}
                      || <span class="icon has-text-primary"><i class="fas fa-user"></i></span>
                      {{ .Site.Author.name }}
            </div>
            
 <article class="article">
    {{ .Content }}

    <br/>
    <br/>
    <div class="is-uppercase">
{{ $taxonomy := "tags" }}
{{ with .Param $taxonomy }}
{{ range $index, $tag := . }}
{{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
&nbsp;#{{ $tag | urlize }}
{{- end -}}
{{- end -}}

{{ end }}    
    </div>
    {{ partial "button-post.html" . }}
    {{ partial "disqus.html" . }}
    {{ partial "related.html" . }}
</article>
</div>
    {{ partial "footer.html" . }}
    {{ partial "js-init.html" . }}
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>