<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
    
    {{ partial "navbar.html" . }}
    <div class="judul"><b>{{ .Title }}</b></div>
    <div class="info-post">
    <span class="icon has-text-primary"><i data-feather="user"></i></span>
    {{ .Site.Author.name }} | 
    <span class="icon has-text-primary is-size-7"><i data-feather="calendar"></i></span> 
    {{ .Date.Format "02-01-2006" }}
    </div>
 <div class="content">
     <div class="content-lay">
 <article class="article">
{{ .Content }}
</article>
<br/>
<br/>
<div class="is-uppercase">
{{ $taxonomy := "tags" }}
{{ with .Param $taxonomy }}
{{ range $index, $tag := . }}
{{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
&nbsp;#{{ $tag | urlize }}
{{- end -}}
{{- end -}}

{{ end }}                          
</div>
</div>
    {{ partial "button-post.html" . }}
    {{ partial "disqus.html" . }}
    {{ partial "related.html" . }}
       
    {{ partial "footer.html" . }}
    {{ partial "js-init.html" . }}
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>